.show-playlist {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 20px;
  margin-right: 30px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.show-playlist-loading-page img {
  position: relative;
  left: 500px;
  height: 270px;
  width: 270px;
}

.show-playlist-found-tracks {
  display: block;
  max-width: 350px;
  position: relative;
  left: 500px;
  background-color: #597e91;
  padding: 5px 20px 20px 20px;
  border-radius: 10px;
}

.show-playlist-playlist {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  background: #477085;
  border-radius: 10px;
  padding: 20px;
}

.show-playlist-playlist ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}


.show-playlist-playlist li {
  background: #477085;
  display: flex;
  grid-template-columns: 1fr 1fr 60px;
  padding: 12px 15px;
  border-radius: 6px;
  transition: background 0.3s ease, transform 0.3s ease;
  /* cursor: pointer; */
}

.playlist-playlist li:hover {
  background: #8baec1;
  transform: scale(1.01);
}

.show-playlist-playlist img {
  width: 200px;
  height: 200px;
}

.playlist-playlist-text {
  position: right;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 20px;
}

.show-playlist-playlist-text-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.show-playlist-playlist-text-artist {
  float: left;
  font-size: 1.2rem;
  color: #555;
}